@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #202124;
  color: #e8eaed;
  font-family: 'Roboto', sans-serif;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #202124; 
}
::-webkit-scrollbar-thumb {
  background: #5f6368; 
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #888; 
}
